body {
    margin: 0;
    padding: 0;
}
h1 {
    color: blue;
}
.main {
    background-color: aqua;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}
.side {
    background-color: lightgreen;
    width: 20%;
}
.mid {
    background-color: lightblue;
    width: 60%;
    padding: 5em 0;
    text-align: center;
}
nav ul li {
    list-style: none;
    width: 20%;
    text-align: center;
    padding: 0.5em;
}
li:nth-child(odd) {
    background-color: lightcoral;
}
nav ul {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}